<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="vi">
<head>
    <title th:text="${title} ?: 'Product'">Product</title>
<!--    <link rel="stylesheet"-->
<!--          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">-->

</head>
<body>

<section layout:fragment="content">

    <header>
        <nav class="navbar navbar-expand-lg bg-transparent  ">
            <div class="container">
                <a class="navbar-brand" href="/products">
                    <i class="fa fa-dice-d20 text-white fs-1"></i>
                    <span class="text-white fs-2">SpaceGo</span>
                </a>
                <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                        class="collapse navbar-collapse justify-content-end"
                        id="navbarNav"
                >
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a
                                    class="nav-link me-3 position-relative active text-white"
                                    aria-current="page"
                                    href="#"
                            >Trang chủ </a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                    class="nav-link me-3 position-relative text-white"
                                    aria-current="page"
                                    href="#"
                            >Sản phẩm</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                    class="nav-link me-3 position-relative text-white"
                                    href="/cart"
                            >Giỏ hàng</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                    class="nav-link me-3 position-relative text-white"
                                    href="#"
                            >Service</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                    class="nav-link me-3 position-relative text-white"
                                    aria-disabled="true"
                            >Contact</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- place navbar here -->
    </header>

    <section class="carousel ps-0 pe-0">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1"
                ></button>
                <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="1"
                        aria-label="Slide 2"
                ></button>
                <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="2"
                        aria-label="Slide 3"
                ></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active vh-100">
                    <img
                            src="/img/bg-1.jpg"
                            class="d-block w-100 h-100 object-fit-cover"
                            alt="..."
                    />
                    <div class="carousel_content">
                        <img
                                src="/img/01-3.jpg"
                                alt=""
                                class="wow animate__animated animate__fadeInUp"
                                data-wow-duration="2s"
                                data-wow-delay=".3s"
                        />
                        <h1
                                class="wow animate__animated animate__fadeInUp"
                                data-wow-duration="2s"
                                data-wow-delay=".7s"
                        >
                            Đổi mới, Sáng tạo
                        </h1>
                        <p
                                class="wow animate__animated animate__fadeInUp"
                                data-wow-duration="2s"
                                data-wow-delay="1s"
                        >
                            Bạn cần mua gì ở SpaceGo nè
                        </p>
                    </div>
                </div>
                <div class="carousel-item vh-100">
                    <img
                            src="/img/bg-22.avif"
                            class="d-block w-100 h-100 object-fit-cover"
                            alt="..."
                    />
                    <div class="carousel_content">
                        <img
                                src="/img/03-3.jpg"
                                alt=""
                                class="wow animate__animated animate__fadeInUp"
                                data-wow-duration="2s"
                                data-wow-delay=".3s"
                        />
                        <h1
                                class="wow animate__animated animate__fadeInUp"
                                data-wow-duration="2s"
                                data-wow-delay=".7s"
                        >
                            Theo đuổi ước mơ
                        </h1>
                        <p
                                class="wow animate__animated animate__fadeInUp"
                                data-wow-duration="2s"
                                data-wow-delay="1s"
                        >
                            Chúng tôi sẽ giúp bạn tìm sản phẩm tốt nhất
                        </p>
                    </div>
                </div>
                <div class="carousel-item vh-100">
                    <img
                            src="/img/bg-33.jpg"
                            class="d-block w-100 h-100 object-fit-cover"
                            alt="..."
                    />
                    <div class="carousel_content">
                        <img
                                src="/img/02-3.jpg"
                                alt=""
                                class="wow animate__animated animate__fadeInUp"
                                data-wow-duration="2s"
                                data-wow-delay=".3s"
                        />
                        <h1
                                class="wow animate__animated animate__fadeInUp"
                                data-wow-duration="2s"
                                data-wow-delay=".7s"
                        >
                            Khám phá sản phẩm
                        </h1>
                        <p
                                class="wow animate__animated animate__fadeInUp"
                                data-wow-duration="2s"
                                data-wow-delay="1s"
                        >
                            Chúng tôi có tất cả sản phẩm tốt nhất cho bạn
                        </p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!-- BREADCRUMB -->
    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="display-3 mb-4 fw-bolder">
                Danh sách sản phẩm
            </h3>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/home/index">Trang chủ /</a></li>
                <li class="breadcrumb-item active">Sản phẩm</li>
            </ol>
        </div>
    </div>
    <!-- Header End -->
    <!-- /BREADCRUMB -->

<!--    <div>-->
<!--        <a th:href="@{/products/add}" class="btn btn-warning mb-3 me-auto">Thêm sản phẩm</a>-->
<!--    </div>-->



    <div class="listProduct ">
       <div class="container">
           <div class="row g-5">
               <div  th:each="product : ${products}" class="col-4 item">
                   <div class="card">
                       <img
                               class="card-img-top image-fluid"
                               th:src="@{${product.mainImage}}"
                               alt="Title"
                       />
                       <div class="card-body">

                           <h4 class="card-title" th:text="${product.name}">

                           </h4>
                           <strong  style=" margin-top:20px; color: rgb(221, 108, 241);" th:text="${product.price} "></strong>
                           <p ></p>
                           <span th:text="${product.category.name}"></span>
                           <p class="card-text" th:text="${product.description}">
                           </p>

                       </div>
                       <div class="card-footer py-4 text-center" sec:authorize="hasAnyAuthority('ADMIN')">
                           <a th:href="@{/products/edit/{id}(id=${product.id})}" class="primary-btn me-4">Sửa</a>
                           <a th:href="@{/products/delete/{id}(id=${product.id})}" class="primary-btn" onclick="return confirm('Are you sure?')">Xóa</a>
                       </div>
                       <div class="card-footer py-4 text-center">
                           <a th:href="@{/products/product-detail/{id}(id=${product.id})}" class="primary-btn my-4">Xem chi tiết</a>

                           <form class="addToCartForm" th:action="@{/cart/add}" method="post"
                                 sec:authorize="isAuthenticated()">
                               <input type="number" name="quantity" min="1" value="1" class="form-control d-inline-block" style="width: 50px;">
                               <input type="hidden" th:value="${product.id}"
                                      name="productId"/>
                               <button type="submit" class="primary-btn ">Thêm Vào Giỏ</button>
                           </form>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>


    <section class="available section">
        <div class="container">
            <div class="heading mx-auto position-relative">
                <h2> Chúng tôi có gì </h2>
                <p>
                    Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia Curae; Nulla mollis dapibus
                    nunc, ut rhoncus turpis sodales quis. Integer sit amet
                    mattis quam.
                </p>
            </div>
            <div
                    class="row gap-4 available-content justify-content-center align-items-center g-2"
            >
                <div class="col-12 col-md-6 col-xxl-3 item">
                    <i class="fa-solid fa-paintbrush"></i>
                    <h3>Thiết kế </h3>
                    <p>
                        Vestibulum ante ipsum primis in faucibus orci luctus
                        et ultrices posuere cubilia Curae; Nulla mollis
                        dapibus nunc
                    </p>
                </div>
                <div class="col-12 col-md-6 col-xxl-3 item">
                    <i class="fa fa-shekel-sign"></i>
                    <h3> Tiếp thị </h3>
                    <p>
                        Vestibulum ante ipsum primis in faucibus orci luctus
                        et ultrices posuere cubilia Curae; Nulla mollis
                        dapibus nunc
                    </p>
                </div>
                <div class="col-12 col-md-6 col-xxl-3 item">
                    <i class="fa fa-camera"></i>
                    <h3> Công nghệ </h3>
                    <p>
                        Vestibulum ante ipsum primis in faucibus orci luctus
                        et ultrices posuere cubilia Curae; Nulla mollis
                        dapibus nunc
                    </p>
                </div>
            </div>
        </div>
    </section>

    <h2>Danh sách sản phẩm </h2>

    <table class="table table-bordered table-hover mt-5">
        <thead class="table-primary">

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Images Product</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category Name</th>
            <th>Actions</th>
            <th>Add To Cart</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td>
               <img th:src="@{${product.mainImage}}" alt="Product Image" style="max-width: 100px; max-height: 100px;">

            </td>
            <td>
                <div class="flex space-x-2 mt-2">
                    <div th:each="image : ${product.images}">
                        <img th:src="${image.imagePath}" alt="Thumbnail 1" style="max-width: 100px; max-height: 100px;" class="thumbnail rounded-lg">
                    </div>
                </div>
            </td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.category.name}"></td>
            <td style="margin-top:15px">
                <!-- Hiển thị nút sửa và xóa chỉ dành cho người dùng ADMIN -->
                <div sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/products/edit/{id}(id=${product.id})}"
                       class="btn btn-success btn-sm">Sửa</a>
                    <a th:href="@{/products/delete/{id}(id=${product.id})}"
                       class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc không?')">Xóa</a>
                </div>
            </td>
            <td>
                <!-- Nút thêm vào giỏ hàng, hiển thị cho tất cả người dùng đã xác
                thực -->
                <form class="addToCartForm" th:action="@{/cart/add}" method="post"
                      sec:authorize="isAuthenticated()">
                    <input type="number" name="quantity" min="1" value="1" class="form-control d-inline-block" style="width: 70px;">
                    <input type="hidden" th:value="${product.id}"
                           name="productId"/>
                    <button type="submit" class="btn btn-warning btn-sm">Thêm Vào Giỏ</button>
                </form>
            </td>


<!--            <td>-->
<!--                <form th:action="@{/cart/add}" method="post">-->
<!--                    <input type="number" name="quantity" min="1" value="1"-->
<!--                           class="form-control d-inline-block" style="width: 70px;">-->
<!--                    <input type="hidden" th:value="${product.id}"-->
<!--                           name="productId"/>-->
<!--                    <button type="submit" class="btn btn-warning btn-sm">-->
<!--                        Add to Cart-->
<!--                    </button>-->
<!--                </form>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>