<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${title} ?: 'Your Cart'">Giỏ hàng của bạn </title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<section layout:fragment="content" class="container mt-3">


    <!-- BREADCRUMB -->
    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="display-3 mb-4 fw-bolder">
                Giỏ hàng của bạn
            </h3>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/home/index">Trang chủ /</a></li>
                <li class="breadcrumb-item active"> Giỏ hàng </li>
            </ol>
        </div>
    </div>
    <!-- Header End -->
    <!-- /BREADCRUMB -->

    <div th:if="${cartItems.isEmpty()}" class="alert alert-info">Your cart is
        empty.</div>
    <table class="table" th:unless="${cartItems.isEmpty()}">
        <thead class="table-light">
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cartItems}">
            <td th:text="${item.product.name}"></td>
            <td th:text="${item.quantity}"></td>
            <td>
                <a th:href="@{/cart/remove/{productId}(productId=${item.product.id})}" class="btn btn-
danger btn-sm">Remove</a>

            </td>
        </tr>
        </tbody>
    </table>
    <div class="mt-5">
        <a th:href="@{/cart/clear}" class="primary-btn">Xóa bỏ</a>

        <a th:href="@{/order/checkout}" class="primary-btn mb-3">Thanh toán</a>
    </div>
</section>
</body>
</html>