<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ </title>
    <style>
        .section {
            background-image: url("https://images.unsplash.com/photo-1562581870-5b61efe35190?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            background-positon: center;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="section">
        <h1 class="text-center">Chào mừng bạn đến với SpaceGo Store</h1>
        <p>Bạn muốn mua gì hãy để tôi giúp bạn ? </p>
        <ul>
            <li><a href="/products">Trang sản phẩm</a></li>
            <li><a href="/products">Sản phẩm nổi bật </a></li>
        </ul>
    </div>
</body>
</html>